<div>
  <div class="flex flex-wrap justify-center items-center gap-10">
    <div class="flex  rounded-lg  p-10 w-[1000px] h-[700px] gap-10">
      <img
        class="rounded-2xl h-[600px] w-[600px]"
        [src]="'https://image.tmdb.org/t/p/w300' + movieDetails.poster_path"
        alt="{{ movieDetails.title }}"
      />

      <div class="flex flex-col justify-center items-start ">
        @if(movieDetails.title){
        <h1 class="text-white font-bold text-shadow-black">
          <span class="text-red-800 font-bold text-lg">Title : </span
          >{{ movieDetails.title }}
        </h1>
        }@else{
        <h1 class="text-white font-bold text-shadow-black">
          <span class="text-red-800 font-bold text-lg">Title : </span
          >{{ movieDetails.title }}
        </h1>
        }
        <p class="text-white font-bold text-shadow-black">
          <span class="text-red-800 font-bold text-lg">Overview : </span>
          {{ movieDetails.overview }}
        </p>
        <small class="text-red-900 font-bold"
          >Rating : {{ movieDetails.vote_average }}
          <span class="text-lg">⭐</span>
        </small>
        <p class="text-red-900 font-bold">
          Release Date :
          <span class="text-white font-semibold text-shadow-black">{{
            movieDetails.release_date
          }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
