<div class="mt-10">
  <div class="flex flex-wrap justify-center items-center gap-10">
    @for(movie of movielist;track $index){
    <a  routerLink="/movie-details/{{ movie.id }}">
      <div
        
        class="flex flex-col bg-pink-300 rounded-lg gap-1 p-10 w-[500px] h-[700px]"
      >
        <img
          class="rounded-2xl w-[450px] h-[400px] object-cover"
          [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path"
          alt="{{ movie.title }}"
        />

        @if(movie.title){
        <h1 class="text-white font-bold text-shadow-black">
          <span class="text-red-800 font-bold text-lg">Title : </span
          >{{ movie.title }}
        </h1>
        }@else{
        <h1 class="text-white font-bold text-shadow-black">
          <span class="text-red-800 font-bold text-lg">Title : </span
          >{{ movie.original_title }}
        </h1>
        }
        <p class="text-white font-bold text-shadow-black">
          <span class="text-red-800 font-bold text-lg">Overview : </span>
          {{ movie.overview | shorten : 200 }}
        </p>
        <small class="text-red-900 font-bold"
          >Rating : {{ movie.vote_average }} <span class="text-lg">⭐</span>
        </small>
        <p class="text-red-900 font-bold">
          Release Date :
          <span class="text-white font-semibold text-shadow-black">{{
            movie.release_date
          }}</span>
        </p>
      </div>
    </a>

    }
  </div>
</div>
